@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto&display=swap');

:root {
   --main-white: #f8fafc;
   --blue-bg: #3b82f6;
   --main-black: #171717;
   --shadow-black: #27272a;
   --grey-bg: #e5e7eb;
   --border-yellow: #eab308;
}

*, 
*::after, 
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 6fr;
    height: 100vh;
}

.sidebar {
    background-color: var(--blue-bg);
    grid-row: 1 / 3;
    padding-left: 20px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.header {
    background-color: var(--main-white);
    grid-row: 1 / 2;
    box-shadow: var(--shadow-black) 0px 0px 100px 0px;
}

.content {
    background-color: var(--grey-bg);
    grid-row: 2 / 3;
}

/* Side Menu */


.logo {
    color: var(--main-white);
    font-size: 2rem;
}

.main-menu {
    line-height: 2.7;
}

.material-icons {
    padding-right: 15px;
    display: inline-flex;
    align-self: center;
    top: .165em;
    position: relative;
}

a {
    color: var(--main-white); 
}

.nav-links,
.nav-links > i {
    font-size: 1.2rem;
    font-weight: bold;
}

/* Header */
.header {
    display: flex;
    flex-direction: column;
    padding: 0px 20px 20px 20px;
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.account > a {
    color: var(--main-black);
}

.avatar {
    max-width: 50px;
}

.account {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px
}

.profile {
    display: flex;
    align-items: center;
    gap: 20px;
}

.bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.avatar-bottom {
    max-width: 80px;
}

.buttons {
    display: flex;
    gap: 50px;
}

button {
  color: inherit;
  font: inherit;
}

.btn {
    background-color: var(--blue-bg);
    color: var(--main-white);
    font-weight: bold;
    padding: 15px 40px;
    border-radius: 99em;
    border: none;
}

#welcome-message {
    font-weight: bold;
}

.username-bottom {
    font-weight: bold;
    font-size: 1.4rem;
}

/* Content */
.content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 25px;
    padding: 25px;
}

.projects {
   grid-area: 1 / 1 / 3 / 2;
}

.announcements {
   grid-area: 1 / 2 / 2 / 2;
}

.trending {
    grid-area: 2 / 2 / 3 / 3;
}

.trending-item > img {
    width: 50px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 25px;
    padding-top: 20px;
}

.card {
    background-color: var(--main-white);
    padding: 20px;
    border-radius: 10px;
    border-left: 10px solid var(--border-yellow);
}

.card p {
    font-size: 0.8rem;
    color: var(--shadow-black);
    padding-top: 10px;
}

.card h5 {
    font-size: 1rem;
}

.card-icons > a {
    color: var(--main-black)
}
.card-icons {
    text-align: right;
}

